<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Booking Details</title>
</head>
<body>
<h2>Booking Details</h2>
<style>
  table {
    border-collapse: collapse;
    width: auto;
  }
  th, td {
    text-align: left;
    padding: 5px;
    width: 100px;
  }
  .error {
    color: red;
    font-size: 12px;
    display: block;
    margin-top: 2px;
  }
  .success {
    color: green;
    font-size: 12px;
    display: block;
    margin-top: 2px;
  }

</style>
<table>
  <tr>
    <th>ID:</th>
    <td th:text="${booking.id}">1</td>
  </tr>
  <tr>
    <th>Customer:</th>
    <td th:text="${booking.customer.name}">John Doe</td>
  </tr>
  <tr>
    <th>Room:</th>
    <td th:text="'Room ' + ${booking.room.roomNumber}">Room 101</td>
  </tr>
  <tr>
    <th>Number of guests:</th>
    <td th:text="${booking.numberOfGuests}">2025-10-15</td>
  </tr>
  <tr>
    <th>Start Date:</th>
    <td th:text="${booking.startDate}">2025-10-15</td>
  </tr>
  <tr>
    <th>End Date:</th>
    <td th:text="${booking.endDate}">2025-10-18</td>
  </tr>
</table>
<h3>Update Booking</h3>
<span th:if="${error}" th:text="${error}" class="error"></span>
<span th:if="${success}" th:text="${success}" class="success"></span>
<h4>Select Dates</h4>
<p>Booking ID: <span th:text="${booking.id}">[Missing]</span></p>

<form th:action="@{/bookings/create/{bookingId}/room-availability-update(bookingId=${booking.id})}" method="post">
  <div th:include="bookingForm"></div>
  <button type="submit">Create Booking</button>
</form>
<div th:if="${availableRooms != null}">
  <h4>Available Rooms (<span th:text="${#lists.size(availableRooms)}"></span>)</h4>
  <h4>Available Rooms</h4>
  <form th:action="@{/bookings/update/{id}(id=${booking.id})}" method="post">

    <input type="hidden" name="startDate" th:value="${startDate}">
    <input type="hidden" name="endDate" th:value="${endDate}">
    <input type="hidden" name="numberOfGuests" th:value="${numberOfGuests}">

    <table border="1">
      <thead>
      <tr>
        <th>ID</th>
        <th>Room Number</th>
        <th>Max Guests</th>
        <th>Select</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="room : ${availableRooms}">
        <td th:text="${room.id}"></td>
        <td th:text="${room.roomNumber}"></td>
        <td th:text="${room.maxGuests}"></td>
        <td><input type="radio" name="newRoomId" th:value="${room.id}" required></td>
      </tr>
      </tbody>
    </table>

    <br>
    <button type="submit">Submit</button>
  </form>
</div>
<br>
<a href="/bookings/all">Back to bookings</a>
</body>
</html>